// Colors
$black-color:       #000;
$white-color:       #fff;
$dark-gray-color:   #333;
$dark-green-color:  #{'{{ theme.secondary_color }}'};
$light-gray-color:  #ccc;
$light-green-color: #{'{{ theme.primary_color }}'};

// Fonts
$fallback-fonts:    "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$sans-serif-font:   "#{'{{ theme.primary_font }}'}", $fallback-fonts;
$serif-font:        "#{'{{ theme.secondary_color }}'}", $fallback-fonts;

@mixin image-replacement($image, $width, $height) {
  background: transparent url($image) no-repeat;
  background-size: $width $height;
  display: inline-block;
  height: $height;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: $width;
}
