// Colors
$black-color: #000;
$white-color: #fff;
$dark-gray-color: #333;
$dark-green-color: #5fb252;
$light-gray-color: #ccc;
$light-green-color: #dbf1da;

// Fonts
$fallback-fonts: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$sans-serif-font: "Open Sans", $fallback-fonts;
$serif-font: "Sorts Mill Goudy", $fallback-fonts;
