// Colors
$black: #000;
$dark-gray: #333;
$dark-green: #5fb252;
$light-gray: #ccc;
$light-green: #dbf1da;
$white: #fff;

// Fonts
$fallbacks: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$halisr: "Open Sans", $fallbacks;
$kistt: "Sorts Mill Goudy", $fallbacks;
