\:root
  --background-color: #{'{{ theme.background_color }}'}
  --text-color: #{'{{ theme.text_color }}'}
  --accent-background-color: #{'{{ theme.accent_background_color }}'}
  --border-color: #{'{{ theme.border_color }}'}
  --link-hover-color: #{'{{ theme.link_hover_color }}'}
  --light-gray-color: #{'rgba(var(--border-color-rgb), .2)'}

  --sans-serif-font: #{'{{ theme.primary_font | font_family }}'}
  --serif-font: #{'{{ theme.secondary_font | font_family }}'}

  --border-radius: 0