\:root
  --background-color: #{'{{ theme.background_color }}'}
  --text-color: #{'{{ theme.text_color }}'}
  --accent-background-color: #{'{{ theme.accent_background_color }}'}
  --border-color: #{'{{ theme.border_color }}'}
  --link-color: #{'{{ theme.link_color }}'}
  --link-hover-color: #{'{{ theme.link_hover_color }}'}
  --light-gray-color: #{'rgba(var(--border-color-rgb), .2)'}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --sans-serif-font: #{'{{ theme.primary_font | font_family }}'}
  --serif-font: #{'{{ theme.secondary_font | font_family }}'}

  --button-text-color: #{'{{ theme.button_text_color }}'}
  --button-background-color: #{'{{ theme.button_background_color }}'}
  --button-hover-background-color: #{'{{ theme.button_hover_background_color }}'}

  --font-scale: #{'{{ theme.global_text_scale | default: 1 }}'}
  --shop-name-scale: #{'{{ theme.shop_name_text_scale | default: 1 }}'}
  --product-grid-scale: #{'{{ theme.product_grid_scale | default: 1 }}'}
  --product-title-scale: #{'{{ theme.product_page_heading_scale | default: 1 }}'}
  --product-description-scale: #{'{{ theme.product_page_description_scale | default: 1 }}'}
  --header-scale: #{'{{ theme.header_text_scale | default: 1 }}'}
  --footer-scale: #{'{{ theme.footer_text_scale | default: 1 }}'}

  --product-status-text-color: #{'{{ theme.product_status_text_color }}'}
  --product-status-background-color: #{'{{ theme.product_status_background_color }}'}
  --product-status-text-secondary-color: #{'{{ theme.product_status_text_secondary_color }}'}
  --product-status-background-secondary-color: #{'{{ theme.product_status_background_secondary_color }}'}
  --product-status-border-radius: 4em

  --inventory-status-text-color: #{"{{ theme.inventory_status_text_color }}"}

  --announcement-background-color: #{'{{ theme.announcement_background_color }}'}
  --announcement-text-color: #{'{{ theme.announcement_text_color }}'}

  --border-radius: 0
  --border-radius-sm: 2px

  --header-height: 100px
  --header-height-tablet: 80px
  --header-height-mobile: 56px
