.custom-page-content
  font-family: var(--serif-font)
  margin: 0 auto
  max-width: 760px
  width: 100%

  p
    margin: revert

  &>:first-child
    margin-top: 0

  &>:last-child
    margin-bottom: 0

  ol, ul
    margin: 1em

  ul
    list-style: disc

  ol
    list-style: decimal

  a
    text-decoration: underline

  img
    display: inline-block
    margin: 0 auto
    max-width: 100%
    margin-bottom: 16px

  iframe
    display: block
    margin: 0 auto
    max-width: 100%
    margin-bottom: 16px