.home {


  #slideshow {
    overflow: hidden;
    position: relative;

    article {
      overflow: hidden;
      text-align: center;
    }

    img {
      height: 100%;
      width: auto;
    }

    > a:first-of-type {
      background: url(#{'{{ "slide_arrow.png" | theme_image_url }}'}) no-repeat left top;
      background-size: 33px;
      bottom: 55px;
      height: 33px;
      left: 50%;
      margin-left: -16px;
      overflow: hidden;
      position: absolute;
      text-indent: -999px;
      width: 33px;
      z-index: 1;
    }

    .wmuSliderPrev, .wmuSliderNext {
      display: block;
      height: 100%;
      overflow: hidden;
      position: absolute;
      text-indent: 100%;
      white-space: nowrap;
      width: 50%;
    }
    .wmuSliderNext { right: 0; }

    .wmuSliderPagination {
      position: absolute;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;

        + li { margin-left: .5em; }

        a {
          background-color: black;
          border-radius: 100%;
          display: block;
          height: .5em;
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap;
          width: .5em;

          &.wmuActive { background-color: white; }
        }
      }
    }
  }
}

.wmuSlider + .container .categories { margin-top: 40px; }
