\:root
  --pagination-background: transparent
  --pagination-page-background: var(--text-color)
  --pagination-active-page: var(--link-hover-color)
#main 
  .featured-container
    margin: 24px auto 48px auto
    max-width: 1024px

  .featured-title
    margin-bottom: 0

  .featured-message
    text-align: center
    margin: 20px auto 40px auto
    padding: 0 1.5rem

    ol, ul
      text-align: left
      margin: 1em auto
      max-width: 600px
      padding-left: 2.5em

      ol, ul
        margin: 0.5em 0
        padding-left: 1.5em

    ul
      list-style: disc

    ol
      list-style: decimal

    a
      text-decoration: underline
      text-underline-offset: 3px

    img
      display: inline-block
      max-width: 100%
      margin: 0 auto
      padding-bottom: 16px
    
    iframe
      display: block
      margin: 0 auto
      max-width: 100%
      margin-bottom: 16px

.home-slideshow
  margin-bottom: 96px

  @media screen and (max-width: $break-small)
    margin-bottom: 64px

  .splide__track
    display: grid
    place-items: center
    align-items: center

  .splide__list
    grid-area: 1/1
    width: 100%

  .slideshow-image
    border-radius: var(--border-radius)
    width: 100%

  .splide__arrow
    border-radius: var(--border-radius)
    width: 2em
    height: 4em
    top: calc(50% - 15px)
    transform: translateY(-50%)

  .splide__slide
    width: 100%

  .splide__pagination
    z-index: 1
    background: var(--pagination-background)
    border-radius: 18px
    display: inline-flex
    position: absolute
    height: 24px
    margin-top: 8px
    bottom: auto
    align-items: center
    justify-content: center
    transform: translateX(-50%)
    left: 50%
    padding: 4px 8px
    gap: 2px
    right: auto

    li
      display: flex

    .splide__pagination__page
      opacity: 1
      background: var(--pagination-page-background)
      height: 10px
      width: 10px

      &.is-active
        background: var(--pagination-active-page)
        transform: scale(1.1)

a.all-products-button
  max-width: 360px
  margin: 0 auto