@import "mixins";

a {
  color: $dark-gray-color;
  outline: none;
  text-decoration: none;

  &:hover {
    filter: alpha(opacity=90);
    opacity: .9;
  }
}

body {
  background-color: $white-color;
  box-sizing: border-box;
  color: $dark-gray-color;
  height: 100%;
  padding: 3px 0;

  &:after, &:before {
    border-top: 3px solid $dark-gray-color;
    content: '';
    display: inline-block;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &:after { top: 0; }
  &:before { bottom: 0; }

  &.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
  }
}
a, button, submit, select, input, .select {
  @include transition(all .1s ease-in-out);
}
h1, h4, h5 {
  font-family: $sans-serif-font;
  font-weight: bold;
  text-transform: uppercase;
}

h2, h3 { font-family: $serif-font; letter-spacing: 1px;}
h4, h5 { letter-spacing: .2em; }

h1 {
  font-size: 1.5em;
  letter-spacing: .3em;
}

h2 { font-size: 1.75em; }
h3 { font-size: 1em; }
h4 { font-size: .875em; }
h5 { font-size: 1.125em; }

hr {
  background: $white-color;
  border: 0;
  height: 3px;
  margin-bottom: 28px;
}

html {
  height: 100%;

  &:before {
    border-left: 3px solid $dark-gray-color;
    display: inline-block;
    left: 0;
    position: fixed;
    height: 100%;
    z-index: 100;
  }
}

img { vertical-align: bottom; }

p {
  font: .875em $serif-font;
  line-height: 24px;
  letter-spacing: 1px;
}

span { font: 1em $serif-font; letter-spacing: 1px;}

ul {
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
  }
}

.custom {
	a { 
		color: $dark-green-color;
	}
	
	img { 
		max-width:100%;
	}
	
	ol, ul {
		font: .875em $serif-font; letter-spacing: 1px;
	}
	
	ul {
		padding-left: 2em;
		
		li {
			display: list-item;
			list-style: disc;
		
		}
	}
}

.cart_box, #product_form {
  .errors {
    background-color: $dark-green-color;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin: 0px 0;
    color: #fff;
    font: .75em $sans-serif-font;
    text-transform: uppercase;
    width: 100%;

    li {
      display: block;

      + li { margin-top: 20px }
    }
  }
}

.button {
  border: 2px solid $dark-gray-color;
  font: bold 0.750em $sans-serif-font;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 11px 23px;
  outline: none;

  &:hover {
    border-color: $dark-green-color;
    color: $dark-green-color;
    outline: none;
  }

  &:active {
    background-color: $dark-green-color;
    color: $white-color;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.select {
  border: 3px solid $dark-gray-color;
  box-sizing: border-box;
  color: $dark-gray-color;
  width: 264px;
  position: relative;
  
  select {
    background: none;
    border: 0px;
    color: $dark-gray-color;
    cursor: pointer;
    font: bold 0.750em $sans-serif-font;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0 38px 0 12px;
    position: relative;
    width: 100%;
    z-index: 2;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    
    option { 
      color: #000;
      background: #FFF;
    }
    
    &:focus {
      outline: none
    }
      
    &::-ms-expand {
      display: none 
    }
  }
    
  svg {
    fill: $dark-gray-color;
    position: absolute;
    right: 17px;
    top: 18px;
    z-index: 1;
  }
  
  &:hover { 
    border: 3px solid $dark-green-color;
  }
  
  &:hover svg {
    fill: $dark-green-color
  }
}

.ie select { 
  appearance: normal;
  padding: 0px
}
.ie .select svg { 
  display: none
}

.overlay {
  display: none;
  position: relative;
  z-index: 200;
}

.categories {
  font: 1em $serif-font;
  letter-spacing: 1px;
  text-align: center;

  li { padding: 0 8px; }
}

.current a {
	color: $dark-green-color;
}

body {
  &.maintenance, &.checkout { border-right: 3px solid $dark-gray-color; }

  &.checkout .message, &.success .message {
    h1 { margin-top: 15%; }
    hr { margin-bottom: 80px; }
  }

  &.maintenance .message_tall {
    min-height: 1200px;
    text-align: center;

    h1 { margin-top: 15%; }
  }
}

header {
  background: $light-green-color;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 2;

  .cart {
    float: right;
    text-align: center;
    width: 60px;
    position: relative;

    a {								
      background: url(#{'{{ "cart_icon.png" | theme_image_url }}'}) top center no-repeat;
      background-size: contain;
      display: block;
      padding-top: 70px;
      position: relative;
      z-index: 2;
    }
		
    span span { padding: 0 2px 0 0; }
  }
  
 .light_cart {
  	border-radius: 50%;
  	width: 60px;
  	height: 60px;
  	position: absolute;
  	top: 0px;
   	display: block;
  	z-index: 1;
  	overflow: hidden;
  }
  
  .green_cart {
  	background-color: $dark-green-color;
  	width: 60px;
  	height: 0px;
  	position: absolute;
  	bottom: 0;
  	display: block;
  	z-index: 1;
  }

  .imgAdd { margin-top: 8px; }

  .logo {
    margin-left: 11.833333%;
    text-align: center;

    img { max-width: 100%; }
  }

  .search_bar {
    @include transition(all .1s ease-in-out);
    border: 2px solid transparent;
    color: $dark-gray-color;
    height: 38px;
    margin-top: 20px;
    width: 244px;
    
    &.search_bar_active {
      border: 2px solid $dark-gray-color;
    
      input[type="submit"] {
        border-left: 2px solid $dark-gray-color;
        opacity: 1;
      }
    }

    input[type="search"] {												
      background: rgba(255, 255, 255, .0) url(#{'{{ "search_icon.png" | theme_image_url }}'}) 12px 2px no-repeat;
      background-size: 28px 15px;
      border: none;
      box-shadow: none;
      font: .875em $serif-font;
      letter-spacing: 1px;
      font-style: italic;
      outline: none;
      padding-left: 50px;
      width: 138px;
    }

    input[type="submit"] {
      background-color: rgba(255, 255, 255, .0);
      border: none;
      border-left: 2px solid transparent;
      font: bold .750em $sans-serif-font;
      height: 40px;
      letter-spacing: .2em;
      line-height: 2px;
      outline: none;
      opacity: 0;
      padding-left: 11px;
      text-transform: uppercase;
      text-align: center;
      width: 44px;
      
    }
  }
  
}

section.content {
  background: $light-green-color;
  padding-bottom: 140px;
}

aside {
  @include transition(all .5s ease-in-out);
  background-color: rgba(255, 255, 255, .9);
  -moz-box-shadow: 0 0 12px $light-gray-color;
  -webkit-box-shadow: 0 0 12px $light-gray-color;
  box-shadow: 0 0 12px $light-gray-color;
  font: 1.350em $serif-font;
  letter-spacing: 1px;
  height: 100%;
  position: fixed;
  right: -13.666667%;
  top: 0;
  width: 18%;
  z-index: 200;

  .wrapper {
    padding: 0 20px 28px 28px;
    overflow: scroll;
    height: 100%;
  }

  &.expand { right: 0; }

  > a {
    background: url(#{'{{ "hamburger.png" | theme_image_url }}'}) no-repeat left top;
    background-size: 20px;
    height: 14px;
    left: -10px;
    overflow: hidden;
    position: absolute;
    text-indent: -999px;
    top: 50px;
    width: 20px;
  }

  a:hover { color: $dark-green-color; }

  li {
    display: block;
    padding: 5px 0;
  }

  .social {
    margin-top: -10px;
    
    a {
      display: block;
      
      svg { 
        fill: $dark-gray-color;
        height: 18px;
        width: 18px;
        
        &:hover { 
          fill: $dark-green-color;
        }
      }
    }

    li {
      display: inline-block;
      padding: 0;

      + li { margin-left: 4px; }
    }
  }
}

footer {
  overflow: hidden;
  padding: 90px 0;
  background-color: $white-color;

  .container {
    box-sizing: border-box;
    padding: 0 1.25%;
  }

  p {
    margin: 0;
    text-align: right;

    &:first-child { float: left; }
  }
}




