*
  box-sizing: border-box

a
  color: var(--text-color)
  text-decoration: none

  &:hover
    color: var(--link-hover-color)

.container
  +flexbox
  +flex-direction(column)
  margin: auto
  max-width: 1200px
  padding: 0 16px
  width: 100%

html
  height: 100%

  &:before
    border-left: 3px solid var(--border-color)
    display: inline-block
    left: 0
    position: fixed
    height: 100%
    z-index: 100

body
  +flexbox
  +flex-direction(column)
  background-color: var(--background-color)
  color: var(--text-color)
  font-size: 16px
  font-family: var(--sans-serif-font)
  height: 100%
  min-height: 100vh
  padding: 3px 0

  &:after, &:before
    border-top: 3px solid var(--border-color)
    content: ''
    display: inline-block
    left: 0
    position: fixed
    width: 100%
    z-index: 100

  &:after
    top: 0

  &:before
    bottom: 0

  &.no-scroll
    overflow-y: scroll
    position: fixed
    width: 100%

a, button, submit, select, input, .select
  +transition(all .1s ease-in-out)

h1, h4, h5
  font-family: var(--sans-serif-font)
  font-weight: bold

h2, h3
  font-family: var(--serif-font)

h1
  font-size: 1.75em
  margin-bottom: 32px
  text-align: center

  @media screen and (max-width: $break-small)
    font-size: 1.2em

h2
  font-size: 1.75em

  @media screen and (max-width: $break-small)
    font-size: 1.1em

h3
  font-size: 1em

h4
  font-size: .875em

h5
  font-size: 1.125em

.cart_box, #product_form
  .errors
    background-color: var(--link-hover-color)
    text-align: center
    padding: 20px
    margin: 0px 0
    color: var(--accent-background-color)
    font: .75em var(--sans-serif-font)
    text-transform: uppercase
    width: 100%

    li
      display: block

      + li
        margin-top: 20px

button.button, a.button
  +all-transitions
  background: var(--border-color)
  border: none
  color: var(--accent-background-color)
  cursor: pointer
  display: block
  font: bold 1em var(--sans-serif-font)
  height: 58px
  letter-spacing: 1px
  max-width: 100%
  outline: none
  padding: 0 16px
  text-align: center
  text-transform: uppercase
  width: 100%

  &.minimal-button
    background: none
    color: var(--text-color)
    border: none
    font-size: 13px
    padding: 0

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      background: none
      text-decoration: underline

  &.no-border
    border: none

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    background: var(--link-hover-color)

  &:disabled, &.disabled
    background: var(--border-color)
    cursor: not-allowed
    opacity: .3

.select
  border: 3px solid var(--border-color)
  border-radius: var(--border-radius)
  position: relative
  color: var(--text-color)
  height: 56px
  padding: 0
  position: relative
  width: 100%

  select
    height: 100%
    padding: 0 40px 0 12px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    fill: currentColor
    height: 8px
    position: absolute
    pointer-events: none
    right: 14px
    top: 50%
    transform: translateY(-50%)
    width: 14px
    z-index: 1

.header
  padding: 60px 0

  .container
    display: flex
    flex-direction: column
    gap: 60px

.header-columns

a.store-link
  display: block
  font-size: 1.75em
  font-family: var(--sans-serif-font)
  font-weight: 700
  line-height: 1.3
  margin: 0 auto
  padding: 0 24px
  text-align: center
  overflow-wrap: break-word
  word-break: break-word
  width: 100%

  @media screen and (max-width: $break-small)
    font-size: 1.5em

.store-logo
  display: block
  margin: 0 auto
  max-width: 100%
  max-height: 90px

  @media screen and (max-width: $break-small)
    max-height: 72px

.content
  flex: 1
  padding-bottom: 100px

.border
  height: 3px
  width: 100%
  background: var(--accent-background-color)
  margin-bottom: 40px

footer
  font-family: var(--serif-font)
  padding: 60px 0

  .container
    display: flex
    flex-direction: column
    gap: 40px
    margin-bottom: 30px
    align-items: center

.footer__pages
  display: flex
  column-gap: 30px
  max-width: 800px
  flex-wrap: wrap
  margin: 0 auto
  justify-content: center
  row-gap: 12px

  @media screen and (max-width: $break-small)
    flex-direction: column

  a
    display: block
    padding: 2px

    &:hover
      text-decoration: underline

.social-icons
  display: flex
  gap: 20px
  list-style: none
  margin: 0
  padding: 0
  flex-wrap: wrap
  justify-content: center

  @media screen and (max-width: $break-small)
    gap: 16px

  a
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 36px
    height: 36px

    svg
      fill: currentColor
      height: 22px
      width: 22px

      &.tumblr-icon
        width: 14px

.bigcartel-credit
  line-height: 1em
  font-size: 15px
  display: inline-flex
  align-items: center
  gap: 8px
  outline-offset: 4px
  padding: 2px 0
  text-decoration: none

  &:hover
    text-decoration: none

  &__text
    position: relative

  &__lockup
    display: block
    fill: currentColor
    padding-top: 1px
    width: 80px
