@import "mixins";

@media screen and (max-width: 1255px) {
	/* ================================
	- front page and categories
	==========================*/

	/* ================================
	 product page
	==========================*/

	#more_products img { max-width: 154px; }

	.details .button { width: 275px; }

	.wrapper-dropdown {
		width: 275px;
	}

	#more_products hr { width: 263px; }

	#more_products h4 { left: 276px; }

	#thumbs li:nth-child(4n) { margin-right: 6px; }
}

@media screen and (max-width: 1160px) {
	/* ================================
	- front page and categories
	==========================*/

	.search_bar { display: none; }

	.search_bar_border { display: none; }

	header {
		.logo {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			padding: 0 110px;
			margin-top: 0

		}

		.cart {
			float: none;
			position: absolute;
			right: 45px;
			top: 0;
		}
	}

	.product-list ul li { width: 30%; }

	.product-list li:nth-child(3n+1) { clear: both; }
	.product-list li:nth-child(4n+1) { clear: none; }

	.product-list figure:hover img {
		  -o-filter: none;
		  -ms-filter: none;
		  -moz-filter: none;
		  -webkit-filter: none;
		  filter: none;
		}

		figcaption h4 { margin: 0; }

		figcaption > span {
			position: absolute;
			bottom: 10px;
		}

		/* ================================
		- product page
		==========================*/

	 	.details .button { width: 250px; }

	 	.wrapper-dropdown { width: 250px; }

	 	#more_products img { max-width: 138px; }

	 	#more_products hr { width: 239px; }

	 	#more_products h4 { left: 244px; }

	 	#share_this a { padding: 0 5px; }
}


@media screen and (max-width: 1065px) {
	/* ================================
	- front page and categories
	==========================*/

	aside { width: 35%; right: -31.5%;}

	aside ul li a { font-size: .875em; }

	aside .social a svg { height: 18px; width: 18px; }

	/* ================================
	- product page
	==========================*/

	.details .button { width: 225px; }

	.wrapper-dropdown { width: 225px; }

	#more_products hr { width: 216px; }

	#more_products h4 { left: 218px; font-size: .7em; }

	#more_products img { max-width: 121px; }

	.product-list li figure figcaption {
  	@include transition(all .3s ease);
	  display: inline-block;
	  width: 100%;
	  height: 120px;
	  background-color: rgba(255, 255, 255, .7);
	  position: absolute;
	  left: 0;
	  bottom: 0px;
	  padding: 20px 20px 10px 20px;
	  z-index: 1;
	}

	.product-list li figure figcaption:before { display: none; }

	#share_this a { padding: 0 3px; }
}

@media screen and (max-width: 970px) {
	/* ================================
	- front page and categories
	==========================*/

	header { padding: 5px 0 15px 0; }

	header .logo {
		float: none;

		h1 { margin: 0.67em 0; }
	}

	header .cart {
		position: relative;
		right: 0;
		float: none;
		width: 100%;

		a {
  		background-size: 60px;
  		margin: 0 auto;
		}
	}

	header .cart span { display: block; }

	header .cart span span { display: inline; }


	/* ================================
	- Cart page
	==========================*/

	.cart-wrapper .close_overlay {
		float: none;
		text-align: center;
		margin-top: 38px;
	}

	.cart-wrapper .close_overlay a {
		float: none;
		margin: 0;
	}

	.cart_box h1 { text-align: center; }

	.cart-wrapper hr { margin: 75px 0; }

	.message h1 { margin-top: 0; }

	.cart-wrapper .cart_box .button { width: 100%; margin-top: 30px; }

	/* ================================
	- product page
	==========================*/

	#more_products { display: none; }

	.single_product { width: 97.5%; }

	#description { text-align: center; }

	.details { width: 97.5%; }

	#thumbs li { margin: 1.25%; }
	#thumbs li:nth-child(4n) { margin: 1.25%; }

	h2 { font-size: 2.75em; }

	.wrapper-dropdown {
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}

	.details .button {
		display: block;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 40px;
	}

	#share_this a {
		font-size: 1.25em;
		padding: 0 40px;
	}
}

@media screen and (max-width: 768px) {
	/* ================================
	- front page and categories
	==========================*/

	.product-list ul li { width: 46%; }


	aside .social li { padding: 0 5px; }

}

@media screen and (max-width: 690px) {
	/* ================================
	- front page and categories
	==========================*/

	html:before { border-left: none; }

	.wmuSlider { display: none; }

	.home #minus_buffer { margin-top: 20px; }

	.categories { margin-top: 20px; }

	header { padding: 0px 0 15px 0; position: static; }

	header .logo {
		margin-top: 0;
		position: fixed;
		background-color: $light-green-color;
		border-bottom: 3px solid #333;
		z-index: 100;
		padding: 0 70px;
	}

	header .logo h1 {
		font-size: 1.25em;
	}

	header .cart {
		margin-top: 0;
		padding-top: 100px;
	}

	aside {
		right: -50%;
		text-align: center;
		padding: 0;
	}


	aside ul {
		margin: 0;
		padding: 10px 40px 0px 40px;
	}

	aside li {
		padding: 0;
		display: block;
	}

	aside > a {
		width: 25px;
		height: 17px;
		background-size: 25px;
		top: 20px;
		left: 40px;
		right: 0px;
		position: fixed
	}

	.expand {
	  right: 0;
	  width: 100%;
	  text-align: center;
	}

	div.grid_12.custom {
		padding: 0 20px;
	}

	.product-list {
		margin-top: 40px;
		padding-left: 20px;
	}

	.content > .errors {
		margin-top: -16px;
		display: none;
	}

	.content > .errors li {
		display: none;
	}

	.cart a {
		position: relative;
		z-index: 2;
	}

	header .light_cart {
		top: 74px;
		z-index: 0;
	}

  footer p {
  	text-align: center;

  	&:first-child {
    	float: none;

    	+ p { margin-top: 1em; }
    }
  }

  #breadcrumbs + .custom {
    padding: 0 20px;
  }

	/* ================================
	- cart page
	==========================*/

	.cart-wrapper { padding: 20px 20px; }

	.cart-wrapper .close_overlay { margin-top: 83px; }

	.cart-wrapper .grid_2 { width: 40%; }

	.cart-wrapper .grid_2:nth-of-type(even) { margin-left: 1.25%; }

	.cart-wrapper .grid_4 { width: 50%; }

	.cart-wrapper .grid_1 { width: 10%; margin: 1.25%; }

	.cart-wrapper .quantity input { padding: 5px 10px; font-size: 1.25em; }

	.cart-wrapper .grid_2 > span { font-size: 1.75em; }

	.cart-wrapper .cart_box .close { float: none; }

	/* ================================
	- product page
	==========================*/

	#breadcrumbs { width: 91%; padding: 0 20px; }

	.single_product { width: 91%; padding: 0 20px; }

	.details { width: 91%; padding: 0 20px; }

}

@media (max-width: 568px) {

	aside ul li a { font-size: .7em; }

	/* ================================
	- cart page
	==========================*/

		.details h1 {font-size: 1em;}

		a.remove { position: absolute; right: 0; }

		.cart-wrapper .grid_2 { width: 40%; }

		.cart-wrapper .grid_4 { width: 100%; margin-top: 10px;}

		.cart-wrapper .grid_1 { width: 20%; margin-top: 30px; }

		.cart-wrapper .cart_box h5 { margin-bottom: 5px; }

		.cart-wrapper .quantity input { font-size: .8em; }

		.cart-wrapper div.grid_2.push_1 {
			float: right;
			margin-right: 0;
			margin-top: 20px;
			text-align: right;
		}

		.cart-wrapper .grid_2 > span {
			padding-top: 0;
			margin-left: 0;
			display: inline-block;
			}

		#share_this a { padding: 0 30px; }


}

@media screen and (max-width: 480px) {
	/* ================================
	- front page and categories
	==========================*/

	aside > a { left: 15px; padding: 5px 15px;}

	header .logo h1 {
		font-size: 1em;
		margin-top: 15px;
	}

	.container { max-width: 480px; }

	.product_list { padding-left: 50px; }

	.product_list ul li { width: 85%; margin: 1.833333% 1.25%; }

	#load_more { margin-left: -25px; }



	/* ================================
	- product page
	==========================*/
	.categories { padding: 0 15px; }

	#breadcrumbs { padding: 0 0 0 15px; }

	.single_product { padding: 0 15px; }

	.details { padding: 0 15px; }

	#share_this a {
		font-size: 1.25em;
		padding: 0 10px;
	}



}

@media screen and (max-width: 320px) {
	/* ================================
	- front page and categories
	==========================*/

	aside > a { top: 18px;}

  aside.expand { overflow: scroll; }

	.content { width: 100%; }

	.product_list { padding-left: 44px; }

  [class^="grid_"] {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .cart-wrapper {
    .button, #total .button {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    .message .button {
    	padding: 18px 10px;
    }
  }

	#share_this { padding: 0 10px; }

	#share_this a { padding: 0 20px; }

	.cart-wrapper #total ul li {
		display: block;

		+ li { margin-left: 0; }
	}

	body.no-scroll {
		overflow-y: hidden;
		position: static;
	}

}


