@import "mixins";

#next, #prev {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 0;
  white-space: nowrap;
  width: 50%;

  &:hover:after { content: ''; }

  &:after {			
    background: url(#{'{{ "arrows_sprite.png" | theme_image_url }}'}) no-repeat;
    background-size: 33px;
    display: block;
    height: 33px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 33px;
  }
}



#breadcrumbs h4 { font-size: .625em; }

#description {
  margin-bottom: 20px;
  text-align: left;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

#description a {
	color: $dark-green-color;
}

#description ul {
	padding-left: 20px;
	font: .875em $serif-font;
	line-height: 24px;
}

#description ul li {
	display: block;
	list-style-type: disc !important;
	display: list-item !important;
}

#more_button, #more_button.less_button {
  display:none;
}

#more_products {
  position: relative;

  a {
    border: 3px solid $white-color;
    -moz-box-shadow: 0 0 12px $light-gray-color;
    -webkit-box-shadow: 0 0 12px $light-gray-color;
    box-shadow: 0 0 12px $light-gray-color;
    display: inline-block;
    margin: 55px 17px 0 0;
    overflow: hidden;
    vertical-align: top;

    &:last-of-type { margin-right: 0; }

    &:hover {
      opacity: 1;

      img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'svgBlur\' x=\'-5%\' y=\'-5%\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'2\'/></filter></svg>#svgBlur");
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }
    }
  }

  h4 {
    font-size: .750em;
    left: 310px;
    position: absolute;
    top: -14px;
  }

  hr {
    position:absolute;
    top:0;
    float:none;
    left:0;
    width:301px;

    &:last-of-type { left:auto;right:0; }
  }

  img {
    height: auto;
    max-width: 170px;
  }
}

#next {
  right: 0;

  &:after { right: 15px; }
}

#prev {
  left: 0;

  &:after {
    background-position: 0 -45px;
    left: 15px;
  }
}

#share_this {
  font: .875em $serif-font;
  font-style: italic;
  letter-spacing: 1px;

  a {
    padding: 0 10px;
    text-decoration: underline;
  }
}

#thumbs {
  a:hover {
    opacity: 1;

    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'svgBlur\' x=\'-5%\' y=\'-5%\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'1\'/></filter></svg>#svgBlur");
      -webkit-filter: blur(1px);
      filter: blur(1px);
    }
  }

  img {
    max-height: 61px;
    max-width: 61px;
    min-height: 61px;
    min-width: 61px;
  }

  li {
    margin: 0 6px 10px 0;

    &:nth-child(4n) { margin-right: 0px; }

    a  {
      border: 3px solid $white-color;
      -moz-box-shadow: 0 0 12px $light-gray-color;
      -webkit-box-shadow: 0 0 12px $light-gray-color;
      box-shadow: 0 0 12px $light-gray-color;
      display: inline-block;
      max-height: 70px;
      max-height: 70px;
      overflow: hidden;
    }
  }

  ul { margin-top: 0; }
}

.availability h2 { margin: 0; }

.details {
  float: right;
  margin-right: 1.25%;
  margin-top: 10px;
  text-align: center;
  width: 25%;

  .button {
    background-color: $dark-gray-color;
    color: $white-color;
    display: inherit;
    height: 47px;
    margin: 20px 0 40px 0;
    width: 300px;

    &:hover {
      background-color: $dark-green-color;
      color: $white-color;
    }
  }
}

.details hr {
	margin-top: 40px;
}

.more_details { height: auto !important; }

.product_wrapper {
  margin-bottom: 100px;
  position: relative;

  > img {
    border: 3px solid $white-color;
    -moz-box-shadow: 0 0 12px $light-gray-color;
    -webkit-box-shadow: 0 0 12px $light-gray-color;
    box-shadow: 0 0 12px $light-gray-color;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}

.single_product { float: left; }
