@import "mixins"

.breadcrumb
  font-size: .675em
  font-family: $sans-serif-font
  font-weight: bold
  text-transform: uppercase
  letter-spacing: .2em
  margin-bottom: 30px

.product-container
  +flex-direction(row)

.product-images-panel
  padding-right: 60px
  width: 72%

.image-arrow
  display: block
  height: 100%
  overflow: hidden
  position: absolute
  text-indent: 100%
  top: 0
  white-space: nowrap
  width: 50%

  &:hover:after
    content: ''

  &.next-image
    right: 0

    &:after
      right: 15px

  &.prev-image
    left: 0

    &:after
      background-position: 0 -45px
      left: 15px

  &:after
    background: url(#{'{{ "arrows_sprite.png" | theme_image_url }}'}) no-repeat
    background-size: 33px
    display: block
    height: 33px
    margin-top: -16px
    position: absolute
    top: 50%
    width: 33px

.product-thumbs
  +flexbox
  +align-items(center)
  +justify-content(center)
  margin: 0 -5px 40px

  a
    border: 3px solid $white-color
    box-shadow: 0 0 12px $light-gray-color
    object-fit: cover
    overflow: hidden
    margin: 0 5px
    width: 20%

    &:hover img
      filter: blur(2px)

    img
      display: block
      width: 100%

.product-description
  margin-bottom: 20px
  text-align: left

  a
    color: $dark-green-color

    &:hover
      text-decoration: underline

  img, iframe, embed, object, video
    max-width: 100%

  ol, ul
    font: .875em $serif-font
    letter-spacing: 1px
    padding-left: 1em

  ol
    list-style: decimal

  ul
    list-style: disc

.similar-products
  margin-top: 75px

  .similar-product-list
    +flexbox
    position: relative
    margin: 30px -10px 0

    a
      border: 3px solid $white-color
      box-shadow: 0 0 12px $light-gray-color
      margin: 10px 10px
      width: 25%

      img
        display: block
        width: 100%

      &:hover
        opacity: 1

        img
          filter: blur(2px)

  .similar-products-title
    +flexbox
    +justify-content(center)
    +align-items(center)
    text-align: center
    width: 100%
    font-size: .750em

    &:before, &:after
      +flex(1 0 20px)
      content: ''
      border-top: 3px solid $white-color
      margin: 0 20px 0 0

    &:after
      margin: 0 0 0 20px

#share_this
  font: .875em $serif-font
  font-style: italic
  letter-spacing: 1px

  a
    cursor: pointer
    padding: 0 10px
    text-decoration: underline

.availability h2
  margin: 0

.product-details
  text-align: center
  width: 28%

  h1
    margin-top: 0

  .button
    margin: 20px 0 40px

  .select
    margin-top: 10px

.details hr
  margin-top: 40px

.product_wrapper
  position: relative

  > img
    border: 3px solid $white-color
    -moz-box-shadow: 0 0 12px $light-gray-color
    -webkit-box-shadow: 0 0 12px $light-gray-color
    box-shadow: 0 0 12px $light-gray-color
    height: auto
    max-width: 100%
    width: 100%

.product-quantity
  display: none