@import "mixins";

.product_list ul { 
  padding: 16px 0;
  margin: 0;
}
.product_list li {
  border: 3px solid $white-color;
  -moz-box-shadow: 0 0 12px $light-gray-color;
  -webkit-box-shadow: 0 0 12px $light-gray-color;
  box-shadow: 0 0 12px $light-gray-color;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &:hover {
    figcaption { bottom: 0; }

    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'svgBlur\' x=\'-5%\' y=\'-5%\'><feGaussianBlur in=\'SourceGraphic\' stdDeviation=\'3\'/></filter></svg>#svgBlur");
      -webkit-filter: blur(3px);
      filter: blur(3px);
    }
  }

  a {
    display: block;

    &:hover { opacity: 1; }
  }
 

  figure {
    overflow: hidden;

    figcaption {
      background-color: white;
      box-sizing: border-box;
      bottom: -200px;
      padding: 0 20px 20px;
      position: absolute;
      -moz-transition: bottom linear .4s;
      -webkit-transition: bottom linear .4s;
      transition: bottom linear .4s;
      width: 100%;
      z-index: 1;

      &:before {
        background-color: $white-color;
        bottom: -105px;
        content: '';
        display: block;
        height: 200px;
        left: -36px;
        position: absolute;
        padding: 20px;
        -ms-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
        width: 100%;
        z-index: -1;
      }
    }

    img { width: 100%; }
  }

  h4 { margin: 0 0 5px; }

  &:nth-child(4n+1) { clear: both; }

  &:nth-child(even) figcaption:before {
    left: 0;
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}

#load_more {
  margin-top: 5%;
  text-align: center;
}


.product_list h1:last-of-type {
	text-align: center;
	margin-top: 80px;
}
