.product-container
  display: grid
  grid-template-columns: 1fr 360px
  column-gap: 40px
  row-gap: 40px

  @media screen and (max-width: $break-medium)
    grid-template-columns: 1fr

.product-breadcrumb
  margin-bottom: 24px

  a
    text-decoration: underline

.reset-selection-button-container
  text-align: center
  width: 100%

  button.reset-selection-button
    display: none

.product-form
  button
    max-width: 100%

  .select
    margin: 0

.product_option_groups
  display: flex
  flex-direction: column
  gap: 16px

.product-selects
  margin-bottom: 36px

.product-detail
  display: flex
  flex-direction: column
  row-gap: 36px

  &__header
    display: flex
    flex-direction: column
    row-gap: 0
    align-items: flex-start

  &__status
    border-radius: var(--border-radius-sm)
    color: var(--product-status-text-color)
    background-color: var(--product-status-background-color)
    text-transform: uppercase
    font-size: .875rem
    line-height: normal
    font-weight: 500
    display: inline-block
    padding: 6px
    letter-spacing: 1.1px

  &__pricing
    font-family: var(--serif-font)
    font-size: 1.5em

  &__description
    p
      margin: revert

    &>:first-child
      margin-top: 0

    &>:last-child
      margin-bottom: 0

    ol, ul
      margin: 1em

    ul
      list-style: disc

    ol
      list-style: decimal

    a
      text-decoration: underline

  h1
    margin-bottom: 0 !important

#instant-checkout-button
  margin-top: 12px

.related-products-container
  margin-top: var(--margin-size)

  @media screen and (max-width: $break-medium)
    margin-top: 48px

.related-products-header
  display: flex
  align-items: center

  .related-products-view-all-link
    margin-left: auto
    font-weight: 700
    text-decoration: underline

.related-product-list
  --columns: 4

  @media screen and (max-width: $break-medium)
    --columns: 2