@import "mixins";

/* ==========================================================================
fonts
========================================================================== */





/* ==========================================================================
global
========================================================================== */

a {
  color: $dark-gray;
  outline: none;
  text-decoration: none;

  &:hover {
    filter: alpha(opacity=90); /* For IE8 and earlier */
    opacity: .9;
  }
}

body {
  background-color: $light-green;
  border: solid $dark-gray;
  border-width: 0 3px;
  color: $dark-gray;
  padding: 3px 0;

  &:after, &:before {
    border-top: 3px solid $dark-gray;
    content: '';
    display: block;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &:after { top: 0; }
  &:before { bottom: 0; }
}

#loading {
	display: block;
	height: 100%;
	width: 100%;
	background-color: $light-green;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}

h1, h4, h5 {
  font-family: $halisr;
  font-weight: bold;
  text-transform: uppercase;
}

h2, h3 { font-family: $kistt; }

h1 {
  font-size: 1.5em;
  letter-spacing: .3em;
}

h2 { font-size: 1.75em; }

h3 { font-size: 1em; }

h4 {
  font-size: .875em;
  letter-spacing: .2em;
}

h5 { 
  font-size: 1.125em; 
  letter-spacing: .2em;
}

hr {
  background: $white;
  border: 0;
  height: 3px;
  margin-bottom: 28px;
}

img { vertical-align: bottom; }

p {
  font: .875em $kistt;
  line-height: 24px;
}

span { font: 1em $kistt; }

ul {
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
  }
}

/* ==========================================================================
global  buttons attr.
========================================================================== */

.button {
  border: 2px solid $dark-gray;
  font: bold 0.750em $halisr;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 11px 23px;
  outline: none;
}

.button:hover {
  border-color: $dark-green;
  color: $dark-green;
  outline: none;
}

.button:active {
  background-color: $dark-green;
  color: $white;
  outline: none;
}

.button:focus {
	outline: none;
}


/* ==========================================================================
header
========================================================================== */

header {
  padding-top: 60px;
}

.search_bar {
  color: $dark-gray;
  width: 244px;
  height: 42px;
  margin-top: 20px;
  padding-top: 10px;
}

.search_bar_border {
  border: 2px solid $dark-gray;
  width: 240px;
  height: 38px;
  padding-top: 0px;
}


.search_bar img {
  width: 28px;
  height: 15px;
  padding: 2px 8px 0 12px;
  position: absolute;
}

.imgAdd {
  margin-top: 8px;
}

.search_bar input[type="search"] {
  background-color: rgba(255, 255, 255, .0);
  border: none;
  outline: none;
  box-shadow: none;
  font: 0.875em $kistt;
  font-style: italic;
  width: 138px;
  padding-left: 50px;
}

.search_bar input[type="submit"] {
  border: none;
  border-left: 2px solid $dark-gray;
  background-color: rgba(255, 255, 255, .0);
  font: bold 0.750em $halisr;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  width: 44px;
  height: 40px;
  line-height: 2px;
  padding-left: 11px;
  outline: none;
}

.logo {
  text-align: center;
  margin-left: 11.833333%;

}

.cart {
  text-align: right;
}

.cart img {
  width: 60px;
  padding-left: 10px;
}

.cart span {
  display: inline-block;
  float: left;
  padding: 20px 0 0 72px;
}

.categories {
  font: 1em $kistt;
  text-align: center;
  padding-top: 20px;
}

.categories li {
  padding: 0 8px;
}

/* ========== Change to active ========== */

.categories a:hover {
  color: $dark-green;
}

/* ========== Change to active ========== */







/* ==========================================================================
sidebar
========================================================================== */


sidebar {
  width: 12.666667%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -13.666667%;
  background-color: rgba(255, 255, 255, .9);
  -moz-box-shadow: 0 0 12px $light-gray;
  -webkit-box-shadow: 0 0 12px $light-gray;
  box-shadow: 0 0 12px $light-gray;
  font: 1.750em $kistt;
  padding: 27px;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.expand {
  right: 0;
}

sidebar ul a {
  display: block;
}

sidebar ul a li {
  display: block;
  padding: 5px 0;
}


sidebar a:hover {
  color: $dark-green;
}

sidebar > a {
  width: 20px;
  height: 14px;
  background: url('../images/hamburger.png') no-repeat left top;
  background-size: 20px;
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: -10px;
}

#social_icons a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 4px;
}


#social_icons a:nth-of-type(1) {
  background: $white url('../images/social_sprit.png') no-repeat left top;
  background-size: 24px;
  text-indent: -999px;
  overflow: hidden;
}

#social_icons a:nth-of-type(2) {
  background: url('../images/social_sprit.png') no-repeat left top;
  background-position-y: -38px;
  background-size: 24px;
  text-indent: -999px;
  overflow: hidden;
}

#social_icons a:nth-of-type(3) {
  background: url('../images/social_sprit.png') no-repeat left top;
  background-size: 24px;
  background-position-y: -76px;
  text-indent: -999px;
  overflow: hidden;
}

#social_icons a:nth-of-type(4) {
  background: url('../images/social_sprit.png') no-repeat left top;
  background-size: 24px;
  background-position-y: -114px;
  text-indent: -999px;
  overflow: hidden;
}





/* ==========================================================================
product list
========================================================================== */


.product_list li {
  
}

.product_list li:nth-child(4n) {
  padding-right: 0;
}


.product_list figure {
  display: block;
  border: 3px solid $white;
  -moz-box-shadow: 0 0 12px $light-gray;
  -webkit-box-shadow: 0 0 12px $light-gray;
  box-shadow: 0 0 12px $light-gray;
  height: auto;
  overflow: hidden;
  position: relative;

}

.product_list figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  z-index: -1;

}

.product_list figure:hover img {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: url(../blur.svg#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1.5');
}

figcaption {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -176px;
  padding: 20px;
  z-index: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.product_list figure:hover figcaption {
  bottom: 0px;
}

figcaption:after {
  content: '';
  width: 100%;
  height: 200px;
  transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  background-color: $white;
  position: absolute;
  bottom: -105px;
  left: -36px;
  padding: 20px;
  z-index: -1;
}


figcaption h4 {
  margin-bottom: 5px;
  max-width: 228px;
}

#load_more {
  text-align: center;

}



/* ==========================================================================
single product
========================================================================== */


.single_product {
	position: relative;
}

#next {
	width: 33px;
	height: 33px;
	position: absolute;
	top: 400px;
	right: 15px;
	background: url('../images/arrows_sprite.png') no-repeat left top;
	background-size: 33px;
	text-indent: -999px;
	overflow: hidden;
}

#prev {
	width: 33px;
	height: 33px;
	position: absolute;
	top: 400px;
	left: 15px;
	background: url('../images/arrows_sprite.png') no-repeat left top;
	background-position-y: -45px;
	background-size: 33px;
	text-indent: -999px;
	overflow: hidden;
}

.single_product > img {
	border: 3px solid $white;
	-moz-box-shadow: 0 0 12px $light-gray;
	-webkit-box-shadow: 0 0 12px $light-gray;
	box-shadow: 0 0 12px $light-gray;
	margin-bottom: 100px;
	max-width: 770px;
	min-width: 770px;
	height: auto;
}

#thumbs a img:hover {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: url(../blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1.5');
}


#breadcrumbs h4 {
	font-size: 0.625em;
}

.deets {
	float: left;
	width: 25%;
	margin-top: 10px;
	padding-left: 85px;
	text-align: center;
}


#thumbs img {
	max-width: 61px;
	min-width: 61px;
	max-height: 61px;
	min-height: 61px;
}

#thumbs ul {
	margin-top: 0;
	
}

#thumbs li a  {
	display: inline-block;
	max-height: 70px;
	max-height: 70px;
	border: 3px solid $white;
	-moz-box-shadow: 0 0 12px $light-gray;
	-webkit-box-shadow: 0 0 12px $light-gray;
	box-shadow: 0 0 12px $light-gray;
}

#thumbs li {
	margin: 0 6px 10px 0;
}

#thumbs li:nth-child(4n) {
	margin-right: 0px;
}

#description {
	margin-bottom: 20px;
	height: 160px;
	overflow: hidden;
	text-align: left;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.more_deets {
	height: auto !important;
}


#more_button {
	display: inline-block;
	background: url('../images/more_deats.png') no-repeat left top;
	width: 17px;
	height: 17px;
	background-size: 17px;
	text-indent: -999px;
	overflow: hidden;
	margin-bottom: 50px;
	
}

.deets .button {
  background-color: $dark-gray;
  color: $white;
  margin: 40px 0;
  display: inherit;
  width: 300px;
  height: 47px;
}

.deets .button:hover {
  background-color: $dark-green;
  color: $white;
}


.wrapper-dropdown {
	position: relative;
	width: 264px;
	margin-bottom: 20px;
	padding: 12px 15px;
	text-align: left;
	font: bold 0.750em $halisr;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border: 3px solid $dark-gray;
	color: $dark-gray;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;

}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: $dark-gray transparent;

}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 27px;
    left: -3px;
    right: -3px;
    background: $light-green;
    border: 3px solid $dark-gray;
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
}

.wrapper-dropdown .dropdown li {
    padding: 0 15px ;
    display: block;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: $dark-gray;
    padding: 12px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid $white;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
}



.wrapper-dropdown .dropdown li:hover a {
    color: $dark-green;
}


.wrapper-dropdown.active {
    background: $dark-gray;
    border-bottom: none;
    color: $white;
}

.wrapper-dropdown.active:after {
    border-color: $white transparent;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 3px solid $dark-gray;

}


.wrapper-dropdown:focus {
    background: $dark-gray;
    border-bottom: none;
    color: $white;
}

.wrapper-dropdown:focus:after {
    border-color: $white transparent;
}

.wrapper-dropdown:focus .dropdown {
    border-bottom: 3px solid $dark-gray;
    max-height: 900px;
}




#share_this {
  font: 0.875em $kistt;
  font-style: italic;

}

#share_this a {
  text-decoration: underline;
  padding: 0 10px;
}


#more_products {
  position: relative;
}

#more_products hr {
  display: inline-block;
  width: 301px;
}

#more_products hr:last-of-type {
  float: right;
}

#more_products h4 {
  position: absolute;
  font-size: 0.750em;
  top: -14px;
  left: 316px;
}

#more_products img {
  max-width: 170px;
  height: auto;
}

#more_products img:hover {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: url(../blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1.5');
}

#more_products a {
	margin: 20px 17px 0 0;
	display: inline-block;
	border: 3px solid $white;
	-moz-box-shadow: 0 0 12px $light-gray;
	-webkit-box-shadow: 0 0 12px $light-gray;
	box-shadow: 0 0 12px $light-gray;
}

#more_products a:last-of-type {
  margin-right: 0px;
}


/* ==========================================================================
cart
========================================================================== */


.wrapper {
	box-sizing:  border-box;
	display: block;
	position: fixed;
	overflow: scroll;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: rgba(255, 255, 255, .9);
	padding: 50px 0;
}


.cart_box {
	border-bottom: 3px solid $dark-gray;
	padding: 40px 0;
}

.cart_box:first-of-type {
	border: none;
	padding: 0;
}

.cart_box:nth-of-type(2) {
	padding: 0;
}


.close:first-of-type {
	float: right;
	margin-right: 0;
}

.close a {
	display: inline-block;
	background: url('../images/x_outs_sprite.png') no-repeat left top;
	background-size: 60px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: -999px;
	float: right;
}

.cart_box img {
	max-width: 145px;
	height: auto;
}

.cart_box h1 {
	margin-bottom: 30px;	
}

.cart_box h5 {
	margin-top: 0;
}

.quantity {
	border: 2px solid $dark-gray;
	padding: 5px 0;
}

.quantity span {
	padding: 0 10px;
	font: 0.750em $halisr;
}

/*.cart_box a:last-child {
	display: inline-block;
	background: url('../images/x_outs_sprite.png') no-repeat left top;
	background-position-y: 20px;
	background-size: 60px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: -999px;
	float: right;
}*/



/* ==========================================================================
footer
========================================================================== */


footer {
  background-color: $white;
  margin-top: 140px;
  padding: 90px 0;
}
















