@import "mixins";

@media screen and (max-width: 1255px) {
	/* ================================
	- front page and categories
	==========================*/

 	.container { max-width: 1100px; }

	/* ================================
	 product page
	==========================*/

	#more_products img { max-width: 154px; }

	.details .button { width: 275px; }

	.wrapper-dropdown {
		width: 275px;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 1160px) {
	/* ================================
	- front page and categories
	==========================*/

	.container { max-width: 1000px; }

	.categories li { padding-bottom: 5px; }

	.search_bar { display: none; }

	.search_bar_border { display: none; }

	.logo {
		margin-left: 0;
		width: 100%;
	}

	.cart { margin-top: -80px; }

	.product_list ul li { width: 30%; }

	.product_list li:nth-child(3n):after {
		clear: both;
		content: '';
		display: inline-block;
		font-size: 0;
		height: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
	}

	.product_list figure:hover img {
		  -o-filter: none;
		  -ms-filter: none;
		  -moz-filter: none;
		  -webkit-filter: none;
		  filter: none;
		}

		figcaption {
		  display: inline-block;
		  width: 100%;
		  height: 120px;
		  background-color: rgba(255, 255, 255, .7);
		  position: absolute;
		  left: 0;
		  bottom: 0px;
		  padding: 20px 20px 10px 20px;
		  z-index: 1;
		  -webkit-transition: all .3s ease;
		  -moz-transition: all .3s ease;
		  -o-transition: all .3s ease;
		  -ms-transition: all .3s ease;
		  transition: all .3s ease;
		  box-sizing: border-box;
		}

		figcaption h4 { margin: 0; }

		figcaption > span {
			position: absolute;
			bottom: 10px;
		}

		figcaption:after {
		  content: '';
		  width: 100%;
		  height: 65px;
		  transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  background-color: rgba(255, 255, 255, .0);
		  position: absolute;
		  bottom: 0px;
		  left: 0px;
		  padding: 20px;
		  z-index: -1;
		}

		.product_list li:nth-child(even) figcaption:after {
			 content: '';
			 width: 100%;
			 height: 65px;
			 transform: rotate(0deg);
			 -ms-transform: rotate(0deg);
			 -webkit-transform: rotate(0deg);
			 -moz-transform: rotate(0deg);
			 background-color: rgba(255, 255, 255, .0);
			 position: absolute;
			 bottom: 0px;
			 left: 0px;
			 padding: 20px;
			 z-index: -1;
		 	}

		/* ================================
		- product page
		==========================*/

	 	.details .button { width: 250px; }

	 	.wrapper-dropdown { width: 250px; }

	 	#more_products img { max-width: 138px; }
}


@media screen and (max-width: 1065px) {
	/* ================================
	- front page and categories
	==========================*/

	.container { max-width: 900px; }

	/* ================================
	- product page
	==========================*/

	.details .button { width: 225px; }

	.wrapper-dropdown { width: 225px; }

	#more_products hr { width: 216px; }

	#more_products h4 { left: 222px; }

	#more_products img { max-width: 121px; }
}

@media screen and (max-width: 970px) {
	/* ================================
	- front page and categories
	==========================*/

	.container { max-width: 800px; }

	header { padding: 5px 0 15px 0; }

	.cart {
		margin-top: 10px;
		float: none;
		width: 100%;
	}

	.cart span { display: block; }

	.cart span span { display: inline; }

	/* ================================
	- Cart page
	==========================*/

	.close_overlay {
		float: none;
		text-align: center;
		margin-top: 47px;
	}

	.close_overlay a {
		float: none;
		margin: 0;
	}

	.cart_box h1 { text-align: center; }

	.cart-wrapper hr, .message hr { margin: 75px 0; }

	.message h1 { margin-top: 0; }

	/* ================================
	- product page
	==========================*/

	#more_products { display: none; }

	.single_product { width: 97.5%; }

	.details { width: 97.5%; }

	#thumbs li { margin: 0 20px 40px 0; }

	h2 { font-size: 2.75em; }

	.wrapper-dropdown {
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}

	.details .button {
		display: block;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#share_this a {
		font-size: 1.25em;
		padding: 0 40px;
	}
}

@media screen and (max-width: 870px) {
	/* ================================
	- front page and categories
	==========================*/

	.container { max-width: 700px; }
}

@media screen and (max-width: 768px) {
	/* ================================
	- front page and categories
	==========================*/

	.container { max-width: 650px; }

	.product_list ul li { width: 46%; }

	.product_list li:nth-child(2n):after {
		clear: both;
		content: '';
		display: inline-block;
		font-size: 0;
		height: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
	}

	/* ================================
	- footer
	==========================*/

	footer { padding: 60px 0; }
}

@media screen and (max-width: 690px) {
	/* ================================
	- front page and categories
	==========================*/

	html:before { border-left: none; }

	.container { max-width: 690px; }

	.wmuSlider { display: none; }

	#minus_buffer { margin-top: 130px; }

	.categories { margin-top: 130px; }

	header { padding: 0px 0 15px 0; }

	.logo {
		margin-top: 0;
		position: fixed;
		background-color: $light-green-color;
		border-bottom: 3px solid #333;
	}

	.logo h1 {
		font-size: 1.25em;
		margin-left: 55px;
		margin-right: 55px;
	}

	.cart {
		margin-top: 0;
		padding-top: 100px;
	}

	aside {
		right: -22%;
		text-align: center;
		padding: 0;
	}

	aside ul { padding: 60px 40px 20px 40px; }

	aside li { display: block; }

	aside > a {
		width: 25px;
		height: 17px;
		background-size: 25px;
		top: 20px;
		left: 40px;
		right: 0px;
		position: fixed
	}

	.expand {
	  right: 0;
	  width: 100%;
	  text-align: center;
	}

	.product_list { padding-left: 20px; }

	/* ================================
	- cart page
	==========================*/

	.cart-wrapper { padding: 20px 20px; }

	/* ================================
	- product page
	==========================*/

	.categories {
		width: 91%;
		margin-left: 25px;
		margin-right: 25px;
	}

	#breadcrumbs {
		width: 91%;
		margin-left: 25px;
		margin-right: 25px;
	}

	.single_product {
		width: 91%;
		margin-left: 25px;
		margin-right: 25px;
	}

	.details {
		width: 91%;
		margin-left: 25px;
		margin-right: 24px;
	}
}

@media screen and (max-width: 480px) {
	/* ================================
	- front page and categories
	==========================*/

	.container { max-width: 480px; }

	.product_list { padding-left: 50px; }

	.product_list ul li { width: 85%; }

	.product_list li:nth-child(1n):after {
		clear: both;
		content: '';
		display: inline-block;
		font-size: 0;
		height: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
	}

	#load_more { margin-left: 0; }

	/* ================================
	- cart page
	==========================*/

	.cart_box .grid_2 {
		width: 50%;
		margin-left: 1.25%;
	}

	.cart_box .grid_4 { width: 45%; }

	.cart_box .grid_1 {
		margin-left: 1.25%;
		width: 12%;
	}

	.cart_box span { font-size: 1.25em; }

	.cart_box .close { margin-top: -290px; }

	.cart_box .wrapper-dropdown { width: 92%; }

	.cart_box .button {
		width: 100%;
		margin-top: 40px;
	}

	#share_this a {
		font-size: 1.25em;
		padding: 0 20px;
	}
}
