<div class="cart-wrapper">
  {% if cart.items != blank %}
    <form method="post" action="/cart" id="cart_form">
      <div class="container clearfix">
        <div class="close_overlay">
          <a href="/">Close</a>
        </div>
      </div>

      <div class="container clearfix cart_box header">
	      {% if errors != blank %}
	      <ul class="errors">
	        {% for error in errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	      {% endif %}
        <div>
          <h1>Shopping basket</h1>
        </div>
      </div>
			
      <ul class="container clearfix">
        {% for item in cart.items %}
          <li class="cart_box">
            <div class="grid_2">
              <a href="{{ item.product.url }}">
                <img src="{{ item.product.image | product_image_url | constrain: '600' }}">
              </a>
            </div>

            <div class="grid_4">
              <a href="{{ item.product.url }}">
                <h5>{{ item.product.name }}</h5>
                {% unless item.product.has_default_option %}
                  <span>{{ item.option.name }}</span>
                {% endunless %}
              </a>
            </div>
						
            <div class="grid_1 quantity push_1">
              <span>{{ item | item_quantity_input }}</span>
            </div>

            <div class="grid_2 push_1">
              <span>{{ item.price | money_with_sign }}</span>
            </div>

            <div class="close">
              <a href="#" class="remove" data-item-id="{{ item.id }}">&times;</a>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="container clearfix cart_box">
        {% if cart.shipping.enabled or cart.discount.enabled %}
          <section id="cart_options">
            <ul class="clearfix">
              {% if cart.shipping.enabled %}
                {% if cart.shipping.strict %}
                  <li id="cart-shipping-tax">
            	      <div class="select clearfix">
            	        {{ store.country | country_select }}
            	        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10.001px" height="6px" viewBox="0 0 10.001 6" xml:space="preserve"><path class="down_arrow" d="M9.852 1.537c0.199-0.189 0.199-0.496 0-0.684L9.135 0.17C8.938-0.02 8.617-0.02 8.4 0.17L5.016 3.5 L1.582 0.143c-0.199-0.189-0.52-0.189-0.717 0L0.148 0.826c-0.197 0.188-0.197 0.5 0 0.684l4.508 4.3 c0.199 0.2 0.5 0.2 0.7 0L9.852 1.537z"/></svg>
            	      </div>
                  </li>
                {% endif %}
              {% endif %}

              {% if cart.discount.enabled %}
                <li id="discount_option" {% unless cart.shipping.strict %}class="solo"{% endunless %}>
                  {% if cart.discount.pending %}
                    <label id="cart_discount_label" for="cart_discount_code">Discount code</label>
                    {{ cart.discount | discount_code_input }}
                  {% elsif cart.discount.free_shipping %}
                    <p>{{ cart.discount.name }} applied!</p>
                  {% else %}
                    <p>{{ cart.discount.name }} applied!</p>
                  {% endif %}
                </li>
              {% endif %}
            </ul>
          </section>
        {% endif %}

        <div>
          <button type="submit" class="button" id="update">update cart</a>
        </div>
      </div>

        <div id="total">
          {% if cart.shipping.enabled or cart.discount.enabled %}
            {% unless cart.shipping.pending and cart.discount.pending %}
              <ul>
                <li>
                  <h4>Subtotal</h4>
                  <span class="clearfix">{{ cart.subtotal | money_with_sign }}</span>
                </li>

                {% unless cart.shipping.pending %}
                  <li>
                    <h4>Shipping</h4>
                    <span class="clearfix">{{ cart.shipping.amount | money_with_sign }}</span>
                  </li>
                {% endunless %}

                {% unless cart.discount.pending %}
                  <li>
                    <h4>Discounts</h4>
                    <span class="clearfix">-{{ cart.discount.amount | money_with_sign }}</span>
                  </li>
                {% endunless %}
              </ul>
            {% endunless %}
          {% endif %}

          <h4>Total</h4>
          <span class="clearfix">{{ cart.total | money_with_sign }}</span>
          <button class="button" type="submit" name="checkout" title="Checkout">Checkout</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="container clearfix">
      <div class="close_overlay">
        <a href="/">Close</a>
      </div>
    </div>

    <div class="container clearfix">
      <div class="message">
        <hr>
        <h1>Looks like your cart is empty.</h1>
        <a class="button" href="/products">Start Shopping</a>
        <hr>
      </div>
    </div>
  {% endif %}
</div>
