<div class="cart-wrapper">
  <div class="container">
    <div class="cart-header">
      <div class="close_overlay">
        <a href="/">Close</a>
      </div>
    </div>
    {% if cart.items != blank %}
      <form method="post" action="/cart" id="cart_form">
        {% if errors != blank %}
          <ul class="errors">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <h1>Shopping basket</h1>
        <ul class="cart-items">
          {% for item in cart.items %}
            <li class="cart_box">
              <div class="cart-image-holder">
                <a href="{{ item.product.url }}" title="View {{ item.product.name }}">
                  <img src="{{ item.product.image | product_image_url | constrain: '600' }}">
                </a>
              </div>

              <div class="cart-item-name">
                <a href="{{ item.product.url }}">
                  <h5 class="cart-item-product-name">{{ item.product.name }}</h5>
                  {% unless item.product.has_default_option %}
                    <span class="cart-item-option-name">{{ item.option.name }}</span>
                  {% endunless %}
                </a>
              </div>

              <div class="cart-item-quantity">
                {{ item | item_quantity_input }}
              </div>

              <div class="cart-item-price">
                <span>{{ item.price | money: theme.money_format }}</span>
              </div>

              <div class="cart-item-remove">
                <a href="#" class="remove" data-item-id="{{ item.id }}">&times;</a>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="cart_box">
          <button type="submit" class="button update-btn" id="update">Update cart</button>
        </div>
        <div class="cart-total">
          <h4 class="cart-total-title">Total</h4>
          <div class="cart-total-amount">{{ cart.total | money: theme.money_format }}</div>
          <button class="button checkout-button" type="submit" name="checkout" title="Checkout">Checkout</button>
        </div>
      </form>
    {% else %}
      <div class="message">
        <hr>
        <h1>Looks like your cart is empty.</h1>
        <a class="button" href="/products">Start Shopping</a>
        <hr>
      </div>
    {% endif %}
  </div>
</div>