<div class="container clearfix">
  <div class="grid_12 categories">
    <ul>
      {% for category in categories.active %}
        <li>{{ category | link_to }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container clearfix">
  <div  class="grid_12" id="breadcrumbs">
    <hr>
    <h4>
      <a href="/" title="store home">Home</a>
      {% for category in product.categories limit:1 %} / {{ category | link_to }}{% endfor %} /
      <a href="{{ page.url }}" title="{{ page.name }}">{{ page.name }}</a>
    </h4>
  </div>

  <div class="grid_8 single_product">
    <div class="product_wrapper">
      {% if product.images.size > 1 %}
        <a href="#" id="next">next</a>
        <a href="#" id="prev">prev</a>
      {% endif %}

      <img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}" class="primary_image">
    </div>

    {% get products from products.all limit:4 order:'views' %}
      <div id="more_products">
        <hr><hr><h4>more products</h4>
        {% for product in products %}
          <a href="{{ product.url }}"><img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}"></a>
        {% endfor %}
      </div>
    {% endget %}
  </div>

  <div class="details">
    <div id="thumbs">
      {% if product.images.size > 1 %}
        <ul>
          {% for image in product.images %}
            <li{% if forloop.first %} class="selected"{% endif %}><a href="{{ image | product_image_url }}"><img src="{{ image | product_image_url size:"thumb" }}" alt="Image of {{ product.name | escape }}"></a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <h1>{{ product.name }}</h1>

    {% case product.status %}
    {% when 'sold-out' %}
      <h2>{{ product.default_price | money_with_sign }}<br /><span>Sold Out</span></h2>

    {% when 'coming-soon' %}
      <h2>{{ product.default_price | money_with_sign }} <br /><span>Coming Soon</span></h2>

    {% when 'active' %}
      <h2>{{ product.default_price | money_with_sign }}{% if product.on_sale %}<br /><span>On Sale{% endif %}</span></h2>
    {% endcase %}

    <hr>

    <div id="description" class="less-details">
      {% if product.description != blank %}
        <p class="truncate">{{ product.description | paragraph }}</p>
      {% endif %}
    </div>

    <a id="more_button" href="#"></a>
		<hr>
    {% if product.status == 'active' %}
      {% if cart.discount.enabled %}
        <div id="cart_discount" class="clearfix">
          <h2>Discount:</h2>

          {% if cart.discount.pending %}
            <div id="discount_entry">{{ cart.discount | discount_code_input }}</div>
            <div id="discount_total">optional</div>
          {% elsif cart.discount.free_shipping %}
            <div id="discount_entry" style="display:none"></div>
            <div id="discount_total" class="shipping">{{ cart.discount.name }}</div>
          {% else %}
            <div id="discount_entry">{{ cart.discount.name }}</div>
            <div id="discount_total">{{ cart.discount.amount | money_with_sign }}</div>
          {% endif %}
        </div>
      {% endif %}
			
      {% if cart.shipping.enabled %}
        <div id="cart_shipping" class="clearfix">
          <h2>Shipping:</h2>

          {% if cart.shipping.strict %}<div id="shipping_entry">{{ store.country | country_select }}</div>{% endif %}
          <div id="shipping_total"{% if cart.shipping.pending %} style="display:none"{% endif %}>{{ cart.shipping.amount | money_with_sign }}</div>
        </div>
      {% endif %}

      

      <form method="post" action="/cart">
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {{ product.options_in_stock | options_select }}
        {% endif %}

        <button class="button" name="submit" type="submit" title="Add to Cart" data-add-to-cart="data-add-to-cart">Add to Cart</button>
      </form>
    {% endif %}

    <div id="share_this">
      <a href="http://twitter.com/home?status={{product.name}}%20-%20{{store.name}}%20{{store.url}}{{product.url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false;">tweet this!</a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{store.url}}{{product.url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false;">share this!</a>
      <a href="http://pinterest.com/pin/create/button/?url={{store.url}}{{product.url}}&media={{product.images.first.url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600');return false;">pin this!</a>
    </div>
  </div>
</div>
