   <div class="container clearfix">
   	<div class="grid_12 categories">
   		<ul>
   		{% for category in categories.active %}
   			<li>{{ category | link_to }}</li>
   		{% endfor %}
   		</ul>
   	</div>
   	
   </div>
   <div class="container clearfix">
	   <div  class="grid_12" id="breadcrumbs">
		   <hr />
		   <h4>
		       <a href="/" title="store home">Home</a>
		       {% for category in product.categories limit:1 %} / {{ category | link_to }}{% endfor %} /
		       <a href="{{ page.url }}" title="{{ page.name }}">{{ page.name }}</a>
		   </h4>
	   </div>
    {% if product.images.size > 1 %}
    <div class="deets">
    	<div id="thumbs">
    		<ul class="unstyled">
    		{% for image in product.images %}
    	 <li{% if forloop.first %} class="selected"{% endif %}><a href="{{ image | product_image_url }}"><img src="{{ image | product_image_url size:"thumb" }}" alt="Image of {{ product.name | escape }}"></a></li>
    	  {% endfor %}
    	</ul>
    	{% endif %}
    	</div>
    	<h1>{{ product.name }}</h1>
    	  {% case product.status %}
    	  
    	        {% when 'sold-out' %}
    	          <h2>{{ product.default_price | money_with_sign }} <span>Sold Out</span></h2>
    	  
    	        {% when 'coming-soon' %}
    	          <h2>{{ product.default_price | money_with_sign }} <span>Coming Soon</span></h2>
    	  
    	        {% when 'active' %}
    	          <h2>{{ product.default_price | money_with_sign }}{% if product.on_sale %} <span>On Sale{% endif %}</span></h2>
    	          
    	  <hr />
    	  		{% if product.description != blank %}
    	  	<div id="description" class="less_deets">
    	  	  <p>{{ product.description | paragraphs }}</p>
    	  	{% endif %}
    	  	</div>
    	  	<a id="more_button" href="#"></a>
    	  <hr />
    	          <ul class="unstyled availability">
    	            {% for option in product.options %}
    	            <li>
    	              {% unless product.has_default_option %} {% endunless %}
    	              <span>{% if option.sold_out %}Sold Out{% endif %}</span>
    	              <b>
    	                <b style="width:{{ option.inventory }}%"></b>
    	              </b>
    	            </li>
    	            {% endfor %}
    	          </ul>
    	  				{% if cart.discount.enabled %}
    	  				  <div id="cart_discount" class="clearfix">
    	  				    <h2>Discount:</h2>
    	  				    {% if cart.discount.pending %}
    	  				    <div id="discount_entry">{{ cart.discount | discount_code_input }}</div>
    	  				    <div id="discount_total">optional</div>
    	  				    {% elsif cart.discount.free_shipping %}
    	  				    <div id="discount_entry" style="display:none"></div>
    	  				    <div id="discount_total" class="shipping">{{ cart.discount.name }}</div>
    	  				    {% else %}
    	  				    <div id="discount_entry">{{ cart.discount.name }}</div>
    	  				    <div id="discount_total">{{ cart.discount.amount | money_with_sign }}</div>
    	  				    {% endif %}
    	  				  </div>
    	  				  {% endif %}
    	  				
    	  				  {% if cart.shipping.enabled %}
    	  				    <div id="cart_shipping" class="clearfix">
    	  				      <h2>Shipping:</h2>
    	  				      {% if cart.shipping.strict %}<div id="shipping_entry">{{ store.country | country_select }}</div>{% endif %}
    	  				      <div id="shipping_total"{% if cart.shipping.pending %} style="display:none"{% endif %}>{{ cart.shipping.amount | money_with_sign }}</div>
    	  				  </div>
    	  				  {% endif %}
    	  				
    	          <form method="post" action="/cart">
    	            {% if product.has_default_option %}
    	            {{ product.option | hidden_option_input }}
    	            {% else %}
    	            <div>
    	            {{ product.options_in_stock | options_select }}
    	            </div>
    	            {% endif %}
    	  
    	            <button class="button" name="submit" type="submit" title="Add to Cart">Add to Cart</button>
    	          </form>
    	      {% endcase %}      
   
    	
    	<div id="share_this">
    		<a href="/" >tweet this!</a>
    		<a href="">share this!</a>
    		<a href="#">pin this!</a>
    	</div>
    </div>
    
    <div class="grid_8 single_product">

      <div class="product_wrapper">
    	  <a href="#" id="next">next</a>
    	  <a href="#" id="prev">prev</a>
        <img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}" class="primary_image" />
      </div>

      <div id="more_products">
	        <hr /><hr /><h4>more products</h4>
	        <a href="{{ product.next_product.url }}"><img src="{{ product.next_product.image.url }}" alt="" /></a>
          <a href="{{ product.next_product.next_product.url }}"><img src="{{ product.next_product.next_product.image.url }}" alt="" /></a>
          <a href="{{ product.next_product.next_product.next_product.url }}"><img src="{{ product.next_product.next_product.next_product.image.url }}" alt="" /></a>
          <a href="{{ product.next_product.next_product.next_product.next_product.url }}"><img src="{{ product.next_product.next_product.next_product.next_product.image.url }}" alt="" /></a>
   		</div>
    </div>
</div>







<!--<section class="product_images">
  <img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}" class="primary_image">

  {% if product.images.size > 1 %}
  <ul class="unstyled">
    {% for image in product.images %}
    <li{% if forloop.first %} class="selected"{% endif %}><a href="{{ image | product_image_url }}"><img src="{{ image | product_image_url size:"thumb" }}" alt="Image of {{ product.name | escape }}"></a></li>
    {% endfor %}
  </ul>
  {% endif %}
</section>

<section>
  <aside>
    {% case product.status %}

      {% when 'sold-out' %}
        <h5>{{ product.default_price | money_with_sign }} <span>Sold Out</span></h5>

      {% when 'coming-soon' %}
        <h5>{{ product.default_price | money_with_sign }} <span>Coming Soon</span></h5>

      {% when 'active' %}
        <h5>{{ product.default_price | money_with_sign }}{% if product.on_sale %} <span>On Sale{% endif %}</span></h5>
        <h5>Availability</h5>

        <ul class="unstyled availability">
          {% for option in product.options %}
          <li>
            {% unless product.has_default_option %}<span>{{ option.name }}</span>{% endunless %}
            <span>{% if option.sold_out %}Sold Out{% endif %}</span>
            <b>
              <b style="width:{{ option.inventory }}%"></b>
            </b>
          </li>
          {% endfor %}
        </ul>

        <form method="post" action="/cart">
          {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
          {% else %}
          <div>
          {{ product.options_in_stock | options_select }}
          </div>
          {% endif %}

          <button name="submit" type="submit" title="Add to Cart">Add to Cart</button>
        </form>
    {% endcase %}
  </aside>

  {% for artist in product.artists %}
    {% if forloop.first %}
      <h5>by {{ artist.name }}</h5>
      {% if forloop.length > 2 %}, {% endif %}
    {% elsif forloop.last %}
      <h5>and {{ artist.name }}</h5>
    {% else %}
      <h5>{{ artist.name }}</h5>,
    {% endif %}
  {% endfor %}

  {% if product.description != blank %}
    {{ product.description | paragraphs }}
  {% endif %}
</div>-->
